[submodule "thirdparty/IDL-Parser"]
	path = thirdparty/IDL-Parser
    url = https://github.com/eProsima/IDL-Parser.git
[submodule "thirdparty/IDL-Test-Types"]
	path = thirdparty/IDL-Test-Types
	url = https://github.com/eProsima/dds-types-test.git
